<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="es"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - {{ site.name }}</title>
	
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/gridism.css">

        <!--[if lt IE 9]>
		    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body class="align-center">
        
        <!-- Header -->
        <div class="grid wrap topbar">
            <header class="unit one-fifth no-gutters">
                <h1 class="brand"><a href="{{ site.url }}/">{{ site.name }}</a></h1>
            </header>
            <nav class="unit four-fifths no-gutters">
                <ul>
                    <li><a href="{{ site.url }}/elgrupo.html">el grupo</a></li>
                    <li><a href="{{ site.url }}/discos.html">discos</a></li>
                    <li><a href="{{ site.url }}/cuandotocan.html">cuando tocan</a></li>
                    <li><a href="{{ site.url }}/fotos.html">fotos</a></li>
                    <li><a href="{{ site.url }}/english.html">in english</a></li>
                </ul>
            </nav>
        </div>

        <!-- Content -->
        <section class="grid wrap content">
            <article class="unit whole">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </article>
        </section>

        <!-- Footer -->
        <footer class="grid wrap">
            <div class="unit half align-left center-on-mobiles">
                <p><a href="mailto:{{ site.email }}">contacta</a></p>
            </div>
            
            <div class="unit half align-right center-on-mobiles">
                <p><a href="mailto:{{ site.email }}">contrata<a></p>
            </div>
        </footer>
    </body>
</html>
